header.header {
  width: 100%;
  padding: 15px 0;
  position: absolute;
  left: 0;
  top: 0;
}


header.header.full > .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.header.full .menu ul li{
  color: white;
  font-size: 2rem;
}