@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Poppins", sans-serif;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  color: rgb(30, 30, 30);
  background-color: rgb(250, 250, 250);
  --highlight: rgb(121, 120, 217);
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 4%;
}

button {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button.button {
  width: 100%;
  height: 40px;

  font-size: 1rem;
  color: rgb(243, 245, 247);

  border-radius: 2px;
  background-color: var(--highlight);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  clip-path: polygon(
    2rem 0,
    calc(100% + 2rem) 0,
    calc(100% - 2rem) 100%,
    -2rem 100%
  );

  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

button.button:not(:disabled):hover {
  transform: scale(1.04);
  z-index: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button.button:not(:disabled):active {
  transform: scale(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  width: 100%;
  min-height: 100vh;
}

input,
select {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  margin-top: 2px;
}

ul {
  list-style-type: none;
}

input:focus,
select:focus {
  border-color: rgb(177, 177, 177);
  box-shadow: 0 5px 10px #0000001a;
}
