ul.listTransactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 55px;
}

ul.listTransactions li {
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
  text-align: left;
  
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

ul.listTransactions .item {
  padding: 15px 10px;
}

ul.listTransactions .item .green{
  color: #15db3d;
}

ul.listTransactions .item .red{
  color: #ff0060;
}